[submodule "zchat-protocol"]
	path = zchat-protocol
	url = git@github.com:ezagent42/zchat-protocol.git
[submodule "zchat-channel-server"]
	path = zchat-channel-server
	url = git@github.com:ezagent42/claude-zchat-channel.git
[submodule "weechat-zchat-plugin"]
	path = weechat-zchat-plugin
	url = git@github.com:ezagent42/weechat-zchat-plugin.git
[submodule "homebrew-zchat"]
	path = homebrew-zchat
	url = https://github.com/ezagent42/homebrew-zchat.git
[submodule "ergo-inside"]
	path = ergo-inside
	url = https://github.com/ezagent42/ergo-inside.git
[submodule "ezagent42-marketplace"]
	path = ezagent42-marketplace
	url = https://github.com/ezagent42/ezagent42.git
